.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.home-section-1,
.home-section-2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 50vh;
}

.home-title img {
    width: 15vw;
}

.home-tabs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-tab {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 400px;
    height: 10vh;
    background-color: var(--white-faded);
    border-radius: 10px;
}

.home-tab-text {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left;
}

.home-tab-title {
    font-family: "sonara-rounded";
    font-size: 24px;
    color: var(--signature);
    margin: 0;
    padding: 0;
}

.home-tab-description {
    font-family: "jetbrains-regular";
    font-size: 16px;
    color: var(--white);
    margin: 0;
    padding: 0;
}