@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "jetbrains-regular";
    src: url("./fonts/jetbrains-regular.ttf");
}

@font-face {
    font-family: "jetbrains-medium";
    src: url("./fonts/jetbrains-medium.ttf");
}

@font-face {
    font-family: "jetbrains-bold";
    src: url("./fonts/jetbrains-bold.ttf");
}

@font-face {
    font-family: "sonara-rounded";
    src: url("./fonts/sonara-rounded.otf");
}

:root {
    --black: rgb(0, 0, 0);
    --black-faded: rgba(0, 0, 0, 0.2);
    --white: rgb(255, 255, 255);
    --white-faded: rgba(255, 255, 255, 0.2);
    --signature: rgb(36, 220, 162);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

.route-container {
    background-color: var(--black);
}